<div class="fixed w-screen mt-2">
  <nav class="relative m-3 flex items-center">
    <div class="bg-white opacity-5 absolute inset-0 rounded-3xl"></div>

    <button
      routerLink="/"
      class="z-10 bg-black text-white flex items-center justify-center h-10 w-28 rounded-3xl opacity-50 hover:opacity-100 hover:drop-shadow-2xl transition-all"
    >
      Home
    </button>

    <div class="absolute w-full flex items-center justify-center">
      <p class="text-white">Activity Name</p>
    </div>
  </nav>
</div>
